<div class="body">
<h2>注文情報確認</h2>


<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価（税込）</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<% @total_price = 0 %>
				<% @cart_items.each do |cart_item| %>
				<tr>
					<td>
						<%#= attachment_image_tag(item, :cart_item.item.image, :fill, 50, 50) %>
						<%= cart_item.item.name %>
					</td>

					<td><%= cart_item.item.price %></td>

					<td><%= cart_item.amount %></td>

					<td><%= cart_item.item.price * cart_item.amount %></td>
				</tr>
				<% @total_price += cart_item.item.price * cart_item.amount %>
				<% end %>
			</tbody>
</table>

<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>送料</th>
			<th>商品合計</th>
			<th>請求金額</th>
		</tr>
	</thead>
	<tbody>
		<% @total_payment = 0 %>
		<tr>
			<td>800</td>
			<td><%= @total_price %></td>
			<% @total_payment += @total_price + 800 %>
			<td><%= @total_payment %></td>
		</tr>
	</tbody>
</table>


<%= form_with(model: @order, local:true ) do |f| %>

支払方法 <%= @order.payment_method %>

お届け先 <%= @order.postal_code %>
	    <%= @order.address %>
	    <%= @order.name %>

<%= f.submit '購入を確定する' %>

<% end %>

</div>