<div class="body">
<h3>注文情報入力</h3>

<%= form_with(model: @order, local: true, url:order_confirm_path(@orders)) do |f| %>

<h4><strong>支払方法</strong></h4>
<label>
	<%= f.radio_button :payment_method, "クレジットカード" %>クレジットカード
</label>
<label>
	<%= f.radio_button :payment_method, "銀行振込" %>銀行振込
</label>

<h4><strong>お届け先</strong></h4>
<label>
	<%= f.radio_button :id, '1' %>ご自身の住所
	<%= @end_user.postal_code %>
	<%= @end_user.address %>
	<%= @end_user.last_name %>
	<%= @end_user.first_name %>
</label>
<label>
	<%= f.radio_button :id, '2' %>登録済住所から選択
	<%= f.collection_select :end_user_id, @address, :id,  :name %>
</label>
<label>
	<%= f.radio_button :id, '3' %>新しいお届け先
	<div class="">
		郵便番号（ハイフンなし）
		<%= f.text_field :postal_code %>
	</div>

	<div class="">
		住所
		<%= f.text_area :address %>
	</div>

	<div class="">
		宛名
		<%= f.text_field :name %>
	</div>

	<div class="">
		<%= f.submit '確認画面へ進む', class: "btn btn-primary"%>
	</div>
</label>
<% end %>

</div>