<div class="container">
     <div class="row">
		<div class="body">

			<table class="table">
				<h1>配送先登録/一覧</h1>
					<%= form_for(@address) do |f| %>
			    <h2>郵便番号(ハイフンなし)</h2>
					<%= f.text_field :postal_code %>
				<h2>住所</h2>
					<%= f.text_area :address %>
				<h2>宛名</h2>
					<%= f.text_field :name %>
					<%= f.submit '登録する', class: "create-btn btn btn-primary" %>
					<% end %>
			</table>

			<table class="table">
	  			<thead>
				    <tr>
				      <th>郵便番号</th>
				      <th>住所</th>
				      <th>宛名</th>
				      <th colspan="3"></th>
	    			</tr>
	  			</thead>
	  			<% @addresses.each do |address| %>
	  			<tbody>
	   				<tr>
						<td><%= address.postal_code %></td>
						<td><%= address.address %></td>
						<td><%= address.name %></td>
						<td><%= link_to "編集する", edit_address_path(address), class: "btn btn-success" %><%= link_to "削除する", address_path(address), method: :delete, class: "btn btn-success" %></td>
					</tr>
				</tbody>
				<% end %>
    		</table>
    	</div>
    </div>
</div>


<!-- 項目、記入欄を横並びにしたい -->
<!-- 一覧表のデータをだすにはどうすれば -->