<div class="container">
     <div class="row">
		<div class="body">

		<h1>登録情報編集</h1>
			<%= form_with(model: @end_user, local: true) do |f| %>
		<h3>名前</h3>
			(姓)<%= f.text_field :last_name %>
			(名)<%= f.text_field :first_name %>
		<h3>フリガナ</h3>
			(セイ)<%= f.text_field :last_name_kana %>
			(メイ)<%= f.text_field :first_name_kana %>
		<h3>メールアドレス</h3>
			<%= f.text_field :email %>
		<h3>郵便番号(ハイフンなし)</h3>
			<%= f.text_field :postal_code %>
		<h3>住所</h3>
			<%= f.text_area :address %>
		<h3>電話番号(ハイフンなし)</h3>
			<%= f.text_field :telephone_number %>
			<%= f.submit '編集内容を保存する' %>
			<%= link_to "退会する",end_users_unsubscribe_path, class: "btn btn-danger" %>
		<% end %>
	<!-- 項目、記入欄を横並びにしたい -->
		</div>
	</div>
</div>