<div class="body">
<h1>end_users#edit</h1>
</div>

<h1>登録情報編集</h1>
<%= form_with(model: @end_user, local: true) do |f| %>
	<h2>名前</h2>
	(姓)<%= f.text_field :last_name %>
	(名)<%= f.text_field :first_name %>
	<h2>フリガナ</h2>
	(セイ)<%= f.text_field :last_name_kana %>
	(メイ)<%= f.text_field :first_name_kana %>
	<h2>メールアドレス</h2>
	<%= f.text_field :email %>
	<h2>郵便番号(ハイフンなし)</h2>
	<%= f.text_field :postal_code %>
	<h2>住所</h2>
	<%= f.text_area :address %>
	<h2>電話番号(ハイフンなし)</h2>
	<%= f.text_field :telephone_number %>
<%= f.submit '編集内容を保存する' %>
<%= link_to "退会する",end_users_unsubscribe_path, class: "btn btn-danger" %>
<% end %>
<!-- 項目、記入欄を横並びにしたい -->