<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <span>NaganoCake</span>
      </nav>

      <nav>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
              <%= link_to ' About', about_path %>
            </li>
            <li class="">
              <%= link_to " 商品一覧", root_path %>
            </li>
            <li class="">
              <%= link_to " 新規登録", new_end_user_registration_path %>
            </li>
            <li class="">
              <%= link_to " ログイン", new_end_user_session_path %>
            </li>
        </ul>
      </nav>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
