<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <p><%= link_to 'NaganoCake', items_path %></p>
      </nav>

      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if end_user_signed_in? %>
            <li class="">
              <p>ようこそ、<%= current_end_user.last_name + current_end_user.first_name %>さん</p>
            </li>
            <li class="">
              <%= link_to ' マイページ', end_users_my_page_path %>
            </li>
            <li class="">
              <%= link_to " 商品一覧", items_path %>
            </li>
            <li class="">
              <%= link_to " カート", cart_items_path %>
            </li>
            <li class="">
              <%= link_to " ログアウト", destroy_end_user_session_path, method: :delete %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="">
              <%= link_to ' 商品一覧', admins_items_path %>
            </li>
            <li class="">
              <%= link_to " 会員一覧", admins_end_users_path %>
            </li>
            <li class="">
              <%= link_to " 注文履歴一覧", admins_orders_path %>
            </li>
            <li class="">
              <%= link_to " ジャンル一覧", admins_genres_path %>
            </li>
            <li class="">
              <%= link_to " ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
            <li>
              <%= form_tag(:method => 'get') do %>
              <%= text_field_tag :search %>
              <%= submit_tag 'Search', :name => nil %>
            </li>
          <% end %>
          <% else %>
            <li class="">
              <%= link_to ' About', about_path %>
            </li>
            <li class="">
              <%= link_to " 商品一覧", root_path %>
            </li>
            <li class="">
              <%= link_to " 新規登録", new_end_user_registration_path %>
            </li>
            <li class="">
              <%= link_to " ログイン", new_end_user_session_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
